.megafolio-container
  - counter = 1
  - cats = ["one", "two", "three", "four"]
  - cat_num = 0
  - @posts.each do |p|
    .mega-entry.cat-all{:class => "cat-#{cats[cat_num]}", :id => "mega-entry-#{counter}", :"data-src" => p.image, :"data-width" => "504", :"data-height" => "400"}
      .mega-covercaption.mega-square-top.mega-landscape-right.mega-portrait-bottom.mega-red.mega-transparent
        .mega-title= p.title
        .mega-date= p.updated_at
        %p=p.text
      - counter = counter + 1
      - cat_num = cat_num + 1
      - if cat_num == 3
        - cat_num = 0


:javascript

jQuery(document).ready(function() {

  var api=jQuery('.megafolio-container').megafoliopro({
  filterChangeAnimation:"fade",	// fade, rotate, scale, rotatescale, pagetop, pagebottom,pagemiddle
  filterChangeSpeed:800,					// Speed of Transition
  filterChangeRotate:99,					// If you ue scalerotate or rotate you can set the rotation (99 = random !!)
  filterChangeScale:0.6,					// Scale Animation Endparameter
  delay:20,								       // The Time between the Animation of single mega-entry points
  paddingHorizontal:20,					// Padding between the mega-entrypoints
  paddingVertical:20,
  layoutarray:[0]
  });

  // CALL FILTER FUNCTION IF ANY FILTER HAS BEEN CLICKED
  jQuery('.filter').click(function() {	
  api.megafilter(jQuery(this).data('category'));  
  });
});
      